@page "/produtos"
@using Fair_ex.Controllers
@using Fair_ex.Models
@inject IConfiguration Configuration



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>IdFeira</th>
            <th>UsernameVendedor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in produtos)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Nome</td>
                <td>@product.Categoria.Nome</td>
                <td>@product.Descricao</td>
                <td>@product.Preco</td>
                <td>@product.Stock</td>
                <td>@product.IdFeira</td>
                <td>@product.UsernameVendedor</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Produto> produtos;

    protected override async Task OnInitializedAsync()
    {
        ProdutoController pc = new ProdutoController(Configuration);
        Categoria newC = new Categoria("aaa","bbbb");
        Produto newP = new Produto(1, "prod", newC, "", 0, 0, 1, "");
        pc.CreateProduto(newP);
        var result = await pc.GetAllProdutos();
        produtos = result.Value;
    }
}


